@font-face {
  font-family: MerriweatherRegular;
  src: url('Fonts/Merriweather-Regular.ttf');
}

body{
  padding: 0;
  margin: 0;
  background-color: #bacca9;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  width: 165px;
  height: 30px;
  background-color: red;
  display: inline-block;
  padding: 2px;
  margin: -2px;
}

p{
  text-align: left;
  vertical-align: middle;
  font-size: 15px;
  padding-top: 7px;
  margin-left: 10px;
  margin-top: 0px;
  text-align: center;
  font-family: MerriweatherRegular;
}

h3{
  width: 100%;
  margin-left: 0;
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  font-family: MerriweatherRegular;
}

.rangeDesc{
  width: 70px;
  clear: left;
  float: left;
  padding: 12px 10px;
  margin: 0;
  font-size: 16px;
  font-family: MerriweatherRegular;
}

.slider{
  width: 200px;
  float: left;
  padding: 10px;
}

.blue li{
  background-color: #97b8ed;
}

.red{
  margin-top: 4px;
  margin-bottom: 0;
}

.red li{
  background-color: #ed9797;
}

.result{
  margin-top: 4px;
  margin-bottom: 0;
}

.result li{
  width: 330px;
  padding: 4px;
  background-color: #b9ed97;
}

#desc{
  text-align: center;
  margin: 0;
  padding: 0;
  width: 75%;
  margin-left: 12.5%;
  font-size: 18px;
}

#canvas{
  margin: 0;
  padding: 0;
  border: 2px solid black;
}

#result{
  padding: 0;
  margin-top: 6px;
  margin-left: 0;
}

#container{
  padding: 0;
  margin: 0;
  width: 504px;
  height: 504px;
  margin-left: 40px;
  margin-top: 30px;
  background-color: #eee;
}

#info{
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 40px;
}

#controls{
  width: 338px;
  height: 180px;
  background-color: #bf97ed;
  margin-top: -184px;
  margin-left: 400px;
}

#getFormula{
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 0;
  border: 0;
  background-color: #61aaa9;
  margin-top: 30px;
  margin-left: 94px;
  color: white;
  outline: none;
  font-size: 15px;
  font-family: MerriweatherRegular;
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  transition: background-color .2s ease-in;
  transition: border-radius .2s ease-in;
}

input#getFormula:hover{
  background-color: #4e8c8b;
}

input#getFormula:active{
  border-radius: 50px;
}

#mainContainer{
  width: 750px;
  margin-left: 585px;
  margin-top: -465px;
}
