@font-face {
    font-family: 'TheFont';
    src: url('../fonts/the_font.ttf');
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(96, 100, 127);
}

.canvasContainer {
  background-color: #eee;
  width: 1280px;
  height: 720px;
  text-align: center;
  margin: 0 auto;
}

#blur {
  background-color: rgba(0, 0, 0, 0.5);
  width: 1280px;
  height: 720px;
  transform: translate(0, -1444px);
}

.bgimage {
  opacity: 0.3;
  width: 1280px;
  height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/grid1.png');
}

#canvasDiv {
  transform: translate(0, -720px);
}

.upgradeShop{
  font-family: TheFont;
  background-color: rgba(96, 100, 127, 0.9);
  text-align: center;
}

.upgradeShop div {
  text-align: left;
  padding: 12px;
  margin: 5px 5px;
  width: 260px;
  height: auto;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
}

.upgradeShop div h3 {
  float: left;
}

.upgradeShop h3 {
  margin-top: 0px;
  padding-top: 20px;
}

.upgradeShop div p {
  padding: 7px 0;
  margin: 0;
  clear: both;
  float: left;
}

.upgradeShop div img {
  width: 50px;
  float: right;
}

.ushB {
  font-family: TheFont;
  color: white;
  display: inline;
  float: right;
  border: 0;
  padding: 10px 10px;
  margin: 0 5px;
}

.B1 {
  background-color: #347235;
}

.B2 {
  background-color: #C11B17;
}

#gameOver {
  background-color: rgba(96, 100, 127, 0.9);
  transform: translate(0, -2050px);
}

#gameOver p {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #555;
  font-family: TheFont;
  color: #ffcc00;
  font-size: 42px;
}

#startBtn {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #555;
  background-color: rgba(0, 0, 0, 0);
  visibility: visible;
  border: 6px solid #444;
  border-radius: 10px;
  padding: 12px 16px;
  color: #ffcc00;
  font-size: 41px;
  font-family: TheFont;
  margin: 0 auto 30px auto;
}

#startBtn:focus {
  outline: 0;
}

#endInfo {
  margin-top: 0px;
  padding-top: 30px;
}

#score {

}
